/* ===============================================
Escritorio (Xl revisamos en 1366px en adelante)
=============================================== */
*{
    font-family: 'Open Sans', sans-serif;
}

ul, ol{
    list-style: none;
}
a:visited, a:link, a:focus, a:hover, a:active{
    list-style: none;
    text-decoration: none;
}

/* ====================================
    header
==================================== */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgb(0, 0, 0, 0.5);
}

header .logotipo{
    width: 50%;
}

.redes ul li i{
    width: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    
}

.redes ul li i.fa-facebook{
    background-color: #1475e0;
}
.redes ul li i.fa-instagram{
    background-color: #B18768;
}
.redes ul li i.fa-twitter{
    background-color: #00a6ff;
}
.redes ul li i.fa-youtube{
    background-color: #f95f62;
}

.redes ul li i.fa-snapchat{
    background-color: #ff9052;
}

.slide-area .img-banner{
    height: 306px;
}

i.fa-bars{
    font-size: 35px;
}

.redesMovil{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}
/* ===============================================
TABLET HORIZONTAL (MD revisamos en 768px)
=============================================== */
@media (max-width:1199px) and (min-width:992px) {
    
}

/* ===============================================
TABLET VERTICAL (MD revisamos en 576px)
=============================================== */
@media (max-width:991px) and (min-width:768px) {
    header .logotipo{
        width: 55%;
    }
}
/* ===============================================
MÓVIL HORIZONTAL (SM revisamos en 320px)
=============================================== */
@media (max-width:767px) and (min-width:576px){
    header .logotipo{
        width: 65%;
    }

    .fade-slider{
        height: 68px;
    }
}

/* ===============================================
MÓVIL VERTICAL (SM revisamos en 320px)
=============================================== */
@media (max-width:575px){
    header .logotipo{
        width: 100%;
    }

    .fade-slider{
        height: 54px;
    }
}